$avatar-size: 4rem;
$indicator-size: 10px;

.avatar {
  @include fbox($content: space-between, $direction: row);
  padding-right: var(--spacing-sm);
  margin-right: var(--spacing-sm);

  &__group {
    @include fbox($direction: row);
  }

  &__contact {
    @include fbox($direction: column, $content: center);
  }

  &__name {
    font-weight: 700;
  }

  &__email {
    font-weight: 400;
  }

  &__elipse {
    font-weight: 600;
  }

  &__img {
    width: $avatar-size;
    height: $avatar-size;
    margin: 0.5rem;
    position: relative;

    img {
      border-radius: 50%;
    }
  }

  // Active user indicator
  &__img::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: $indicator-size;
    height: $indicator-size;
    background-color: var(--color-green);
    border: 2px solid white;
    border-radius: 50%;
    z-index: 1;
  }
}

// Welcome text
.welcome {
  //border: 1px solid red;
  font-weight: 600;
  font-size: 2rem;
  color: var(--color-primary);
}
