//Font import
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700&display=swap");

:root {
    //css variables
    //colors (https://paletton.com
    --color-primary: #171c2a;
    --color-primary-hover: #74777f;
    --color-primary-selected: #454c5d;
    //yellow
    --color-yellow: #efcb68;
    // pink
    --color-pink: #f9cff2;
    // green, green light & green palette
    --color-green: #31724b;
    --color-green-light: #46805d;
    --color-green-palette: #acd8aa;
    // B& white
    --color-white: #fff;
    --color-black: #000;
    //greys
    --color-gray-light-1: #faf9f9;
    --color-gray-light-2: #f4f2f2;
    --color-gray-light-3: #f1eeee;
    --color-gray-dark-1: #333;
    --color-gray-dark-2: #c5c4c4;

    //Other colors?
    --color-secondary: #3c5254; //#4d475f;
    //lilac
    --color-tertiary: #4d475f;
    //light blue
    --color-quaternary: #dde7eb;
    //pink
    --color-quinary: #f4c2c2;
    //--color-green: #68c75b;
    --color-blue: #454955; //#0a2b39;
    //shadow colour
    --shadow-color: 0deg 0% 63%;

    //spacing rem
    --spacing-xxs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-xl: 2.5rem;
    --spacing-xxl: 3rem;
    --spacing-xxxl: 4rem;

    //font sizes
    --font-size-xxs: 1rem;
    --font-size-xs: 1.1rem;
    --font-size-sm: 1.2rem;
    --font-size-md: 1.4rem;
    --font-size-lg: 1.6rem;
}

//Global styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--color-white);
    color: var(--color-black);
}

main {
    margin-top: var(--spacing-sm);
    margin-left: var(--spacing-md);
    display: grid;
    grid-template-columns: 1fr 230px; // Set min and max width for the right column
    grid-gap: var(--spacing-md);
    width: 97%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 10px;
    background-color: var(--color-gray-light-1);
    padding-bottom: var(--spacing-xs);
    //padding-top: var(--spacing-md);
    padding-left: var(--spacing-md);
    //border: 1px solid red;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    width: 215px;
    //height: 100vh;
    z-index: 0;
    //border-right: 2px solid var(--color-gray-light-1);
    padding-right: var(--spacing-md);
    background-color: var(--color-primary);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
    line-height: 1.2;
}

h1 {
    color: var(--color-primary);
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
    color: var(--color-primary);
    font-weight: 400;
}

h4 {
    font-size: 2.5rem;
    color: var(--color-primary);
    letter-spacing: 0.1rem;
}

h5 {
    font-size: 2rem;
    color: var(--color-white);
    letter-spacing: 0.1rem;
    font-weight: 600;
}

h6 {
    font-size: 1.75rem;
    color: var(--color-primary);
    letter-spacing: 0.1rem;
    font-weight: 600;
}

p {
    margin-bottom: 1.5rem;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    display: block;
}

//material ui
.material-symbols-outlined {
    font-variation-settings:
        "FILL" 0,
        "wght" 300,
        "GRAD" 0,
        "opsz" 10;
}

//utility classes
//font sizes
.text-xxs {
    font-size: var(--font-size-xxs);
}

.text-xs {
    font-size: var(--font-size-xs);
}

.text-sm {
    font-size: var(--font-size-sm);
}

.text-md {
    font-size: var(--font-size-md);
}

.text-lg {
    font-size: var(--font-size-lg);
}

.right {
    text-align: right;
    padding-right: 1rem;
}

/* Base link styles */
a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

/* Primary link style */
.a--primary {
    color: var(--color-blue); /* Replace with your primary color variable */
    font-weight: 600;
    // &:hover {
    //   color: var(--color-primary-dark); /* Replace with a darker shade of your primary color */
    // }
}

/* Secondary link style */
.a--secondary {
    color: var(--color-primary); /* Replace with your secondary color variable */

    // &:hover {
    //   color: var(--color-secondary-dark); /* Replace with a darker shade of your secondary color */
    // }
}

/* tertiart link style */
.a--tertiary {
    color: var(--color-primary); /* Replace with your secondary color variable */

    &:hover {
        color: var(--color-green); /* Replace with a darker shade of your secondary color */
    }
}

//generic spacing classes
.sp-sm {
    margin-top: var(--spacing-sm);
}

.sp-md {
    margin-top: var(--spacing-md);
}

.sp-lg {
    margin-top: var(--spacing-lg);
}

.sp-bottom-lg {
    margin-bottom: var(--spacing-lg);
}

.sp-bottom-sm {
    margin-bottom: var(--spacing-xs);
}

//to be moved
.welcome {
    //border: 1px solid red;
    font-weight: 600;
    font-size: 2rem;
    color: var(--color-primary);
}
