//Logo
.logo {
    @include fbox($direction: row, $content: flex-start, $items: center);
    border-left: 2px solid transparent;
    padding-left: var(--spacing-xxs);
}

.logo__icon {
    padding-right: var(--spacing-md);
    color: var(--color-green);
}
