//Logo
.logo {
    @include fbox($direction: row, $content: flex-start, $items: center);
    border-left: 2px solid transparent;
    padding-left: var(--spacing-md);
    padding-top: var(--spacing-sm);
    color: var(--color-white);
    font-size: 2rem;
    font-weight: 600;
    //border: 1px solid red;
}

.logo__icon {
    padding-right: var(--spacing-md);
    color: var(--color-green);
}
