$input-border-radius: var(--spacing-xs);
$input-border: 1px solid var(--color-grey-light-2);
$input-padding: var(--spacing-md);
$input-margin-bottom: var(--spacing-sm);
$input-background: transparent;
$input-font-family: inherit;
$input-font-weight: 400;
$input-color: var(--color-grey-dark-1);
$input-width: 90%;

//input for login page
.input__field {
  position: relative;

  input {
    border-radius: $input-border-radius;
    border: $input-border;
    padding: $input-padding;
    margin-bottom: $input-margin-bottom;
    background: $input-background;
    font-family: $input-font-family;
    font-weight: $input-font-weight;
    color: $input-color;
    width: $input-width;
    outline: none;

    &:focus {
      border: 2px solid var(--color-primary);
    }
  }

  label {
    position: absolute;
    top: 37%;
    left: 15px;
    transform: translateY(-50%);
    color: var(--color-grey-dark-2);
    pointer-events: none;
    transition: 0.3s;
  }

  input:focus ~ label,
  input:valid ~ label {
    top: 0;
    left: 10px;
    font-size: 0.9rem;
    padding: 0 2px;
    background: #fff;
  }

  &--error input {
    border: 1px solid red;

    &:focus {
      border: 2px solid red;
    }
  }

  &--error label {
    color: red;
    top: 0;
    left: 10px;
    font-size: 0.9rem;
    padding: 0 2px;
    background: #fff;
  }

  &--error-message {
    margin-top: -15px;
    margin-bottom: 1rem;
    color: red;
  }

  &--toggle-password {
    position: absolute;
    right: var(--spacing-md); // Adjust as needed
    top: 38%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

//input for merchant account page
.input__merchant-account {
  position: relative;

  input {
    border-radius: $input-border-radius;
    border: $input-border;
    padding: $input-padding;

    margin-right: var(--spacing-xs);
    background: var(--color-white); //$input-background;
    font-family: $input-font-family;
    font-weight: $input-font-weight;
    color: var(--color-grey-dark-2);
    width: 120px;
    outline: none;

    &:focus {
      border: 1px solid var(--color-primary);
    }
  }

  label {
    color: var(--color-grey-dark-1);
  }
}

//input for merchant account payout
.input__payout {
  .input-currency {
    width: 27px; /* adjust as needed */
  }

  .input-amount {
    width: 212px; /* adjust as needed */
    color: var(--color-green);
    text-align: right;
    // font-weight: 600;
  }

  .input-reference {
    width: 286px; /* adjust as needed */
  }

  .input-sort-code {
    width: 100px; /* adjust as needed */
  }

  .input-account-number {
    width: 200px; /* adjust as needed */
  }

  input {
    border-radius: $input-border-radius;
    border: $input-border;
    padding: $input-padding;
    margin-bottom: $input-margin-bottom;

    background: var(--color-white); //$input-background;
    font-family: $input-font-family;
    font-weight: $input-font-weight;
    color: var(--color-grey-dark-2);
    outline: none;

    &:focus {
      border: 1px solid var(--color-primary);
    }
  }
}

.btn {
  border-radius: var(--spacing-xs);
  border: none;

  &--primary {
    width: 90%;
    padding: var(--spacing-md);
    display: inline-flex;
    justify-content: space-between;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: var(--font-size-sm);
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: #454c5d;
    }
  }

  &--secondary {
    padding-top: var(--spacing-xs);
    padding-bottom: var(--spacing-xs);
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
    display: inline-flex;
    justify-content: space-between;
    background-color: var(--color-green-light);
    color: var(--color-white);
    font-size: var(--font-size-sm);
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: var(--color-tertiary);
    }
  }

  &--tertiary {
    padding-top: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
    display: inline-flex;
    justify-content: space-between;
    background-color: var(--color-tertiary);
    color: var(--color-white);
    font-size: var(--font-size-sm);
    font-weight: 600;

    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: var(--color-tertiary-hover);
    }
  }

  &--quaternary {
    padding-top: var(--spacing-xs);
    padding-bottom: var(--spacing-xs);
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
    display: inline-flex;
    justify-content: space-between;
    background-color: var(--color-tertiary);
    color: var(--color-white);
    font-size: var(--font-size-sm);
    font-weight: 600;

    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: var(--color-tertiary-hover);
    }
  }
}

select {
  border-radius: $input-border-radius;
  border: $input-border;
  padding: $input-padding;
  // margin-bottom: $input-margin-bottom;
  background: var(--color-white); //$input-background;
  font-family: $input-font-family;
  color: var(--color-grey-dark-2); //$input-color;
  outline: none;
}

.test {
  border: 1px solid red;
}
