////////// Layout

//// Main
// Media query for other screens (mobile not required)
.container {
  @include myGrid($width: 1440px, $col1: 230px, $col2: 1fr);
  margin-inline: auto;
  // margin: 0 auto;
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-lg);
  //padding-bottom: var(--spacing-md);
  border: 1px solid var(--color-grey-light-2);
  border-radius: var(--br-standard);

  // Media queries nested inside .container
  // @media screen and (min-resolution: 2dppx) {
  //   width: 95vw; // Only changing the width for high-resolution screens
  // }

  // @media screen and (max-width: 1536px) and (max-height: 960px) {
  //   width: 95vw; // Only changing the width for high-resolution screens
  // }

  // @media screen and (max-width: 1920px) and (max-height: 1080px) and (min-resolution: 1dppx) {
  //   width: 75vw; // Only changing the width for larger standard resolution screens
  // }

  ////login
  &__login {
    @include fbox($direction: column, $content: center, $items: center);
    height: 100vh;

    &--grid {
      @include myGrid($height: 80vh, $width: 70vw, $col1: minmax(300px, 400px), $col2: 1fr);
      border-radius: var(--spacing-lg);
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);

      // Media query for smaller screens
      @media (max-width: 768px) {
        grid-template-columns: 1fr; // Only one column
      }
    }

    &--form {
      grid-column: 1 / 2; // spans 1 column
      @include fbox($direction: column);
      padding: 2rem;
      background-color: var(--color-white);
      border-radius: var(--spacing-lg);
      width: 80%;
    }
  }
}
