//////////Layout
////Main
//Media query for other screens (mobile not required)
.container {
  @include myGrid($height: 90vh, $width: 75vw, $col1: 230px, $col2: 1fr);
  margin: 0 auto;

  // Media query for laptop screens
  @media (max-width: 1024px) {
    width: 95vw;
  }
  margin-top: var(--spacing-md);
  border: 1px solid var(--color-gray-light-2);
  border-radius: 10px;

  ////login
  &__login {
    @include fbox($direction: column, $content: center, $items: center);
    height: 100vh;

    &--grid {
      @include myGrid($height: 80vh, $width: 70vw, $col1: minmax(300px, 400px), $col2: 1fr);
      border-radius: var(--spacing-lg);
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);

      // Media query for smaller screens
      @media (max-width: 768px) {
        grid-template-columns: 1fr; // Only one column
      }
    }

    &--form {
      grid-column: 1 / 2; // spans 1 column
      @include fbox($direction: column);
      padding: 2rem;
      background-color: var(--color-white);
      border-radius: var(--spacing-lg);
      width: 80%;
    }
  }
}
