//////////Layout
////login

.container__login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container__login--grid {
  display: grid;
  grid-template-columns: minmax(300px, 400px) 1fr; // Set min and max width for the left column
  height: 80vh;
  width: 70vw;
  border-radius: var(--spacing-lg);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);

  // Media query for mobile screens
  @media (max-width: 768px) {
    grid-template-columns: 1fr; // Only one column for mobile
  }
}

.container__login--form {
  grid-column: 1 / 2; /* spans 1 column */
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--color-white);
  border-radius: var(--spacing-lg);
  width: 80%;
}

////Main
//similar to container__login - review when consolidating
//Media query for other screens (mobile not required)
.container {
  display: grid;
  grid-template-columns: 230px 1fr; // Set min and max width for the left column
  margin: 0 auto;
  //align-items: center;
  height: 90vh;
  //content width not quite 100%

  width: 75vw;

  // Media query for laptop screens
  @media (max-width: 1024px) {
    width: 95vw;
  }
  margin-top: var(--spacing-md);
  border: 1px solid var(--color-gray-light-2);
  border-radius: 10px;
}
