.login__icon {
  width: 5rem;
  height: 5rem;
  color: var(--color-green);
  font-size: 9rem;
  font-weight: 600;
  margin-bottom: var(--spacing-lg);
}

.container__login--image {
  grid-column: 2 / 3;
  background-image: url(../../assets/images/image_03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--spacing-lg);

  // Media query for mobile screens
  @media (max-width: 768px) {
    display: none; // Hide the right column on mobile
  }
}
