@mixin fbox($content: null, $items: null, $direction: null, $wrap: null) {
  display: flex;

  @if $content != null {
    justify-content: $content;
  }

  @if $items != null {
    align-items: $items;
  }

  @if $direction != null {
    flex-direction: $direction;
  }

  @if $wrap != null {
    flex-wrap: $wrap;
  }
}

@mixin myGrid($height: null, $width: null, $col1: null, $col2: null) {
  display: grid;
  grid-template-columns: $col1 $col2;

  @if $height != null {
    min-height: $height;
  }

  @if $width != null {
    width: $width;
  }

  // min-width: 1044px;
}
