.start__1 {
    background-color: var(--color-pink);
    color: var(--color-primary);
    padding-top: 1rem;
    padding-right: 4rem;
    padding-bottom: 11rem;
    border-radius: 5px;
    //text
    text-align: right;
    font-weight: 700;
    font-size: 7rem;
    line-height: 8rem;
}

.start__2 {
    background-color: var(--color-yellow);
    color: var(--color-primary);
    padding-top: 9rem;
    padding-left: 4rem;
    padding-bottom: 11rem;
    border-radius: 5px;
    //text

    font-weight: 700;
    font-size: 7rem;
    line-height: 8rem;
}
