@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700&display=swap");
.card {
  border: 1px solid var(--color-grey-light-2);
  border-radius: var(--br-standard);
  padding: var(--spacing-md);
  background-color: var(--color-white);
}
.card__layout {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
}
.card__merchant-account--detail {
  width: 425px;
}

.start {
  margin-top: 14rem;
  color: var(--color-primary);
  padding-top: var(--spacing-xs);
  padding-right: 4rem;
  padding-bottom: 11rem;
  border-radius: var(--br-small);
  text-align: right;
  font-weight: 700;
  font-size: 7rem;
  line-height: 8rem;
}
@media (max-width: 1080px) {
  .start {
    margin-top: 6rem;
  }
}
@media (max-width: 1080px) {
  .start {
    font-size: 6rem;
  }
}

.start__route--merchant {
  margin-top: 8rem;
  color: var(--color-primary);
  padding-top: var(--spacing-xs);
  padding-right: 4rem;
  padding-bottom: 11rem;
  border-radius: var(--br-small);
  text-align: right;
  font-weight: 700;
  font-size: 7rem;
  line-height: 8rem;
}
@media (max-width: 1080px) {
  .start__route--merchant {
    margin-top: 6rem;
  }
}
@media (max-width: 1080px) {
  .start__route--merchant {
    font-size: 6rem;
  }
}

.start__route--data {
  margin-top: -2rem;
  color: var(--color-primary);
  padding-top: var(--spacing-xs);
  padding-right: 4rem;
  padding-bottom: 11rem;
  border-radius: var(--br-small);
  text-align: right;
  font-weight: 700;
  font-size: 7rem;
  line-height: 8rem;
}
@media (max-width: 1080px) {
  .start__route--data {
    margin-top: 6rem;
  }
}
@media (max-width: 1080px) {
  .start__route--data {
    font-size: 6rem;
  }
}

.start__arrow, .start__arrow--pink, .start__arrow--yellow {
  color: var(--color-white);
  border-radius: var(--br-small);
  padding-left: 5rem;
  padding-right: var(--spacing-sm);
}
.start__arrow--yellow {
  background-color: var(--color-yellow);
}
.start__arrow--pink {
  background-color: var(--color-pink);
}

.main__right-panel {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 82vh;
}

.avatar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-right: var(--spacing-sm);
  margin-right: var(--spacing-sm);
}
.avatar__group {
  display: flex;
  flex-direction: row;
}
.avatar__contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.avatar__name {
  font-weight: 700;
}
.avatar__email {
  font-weight: 400;
}
.avatar__elipse {
  font-weight: 600;
}
.avatar__img {
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  position: relative;
}
.avatar__img img {
  border-radius: 50%;
}
.avatar__img::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: var(--color-green);
  border: 2px solid white;
  border-radius: 50%;
  z-index: 1;
}

.welcome {
  font-weight: 600;
  font-size: 2rem;
  color: var(--color-primary);
}

.menu {
  margin-top: var(--spacing-lg);
}
.menu-item {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 210px;
  cursor: pointer;
  border-left: 2px solid transparent;
  border-radius: var(--br-standard);
  padding: var(--spacing-xxs);
  transition: opacity 0.3s ease, background-color 0.3s ease;
}
.menu-item::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--color-tertiary);
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  border-left: 2px solid var(--color-primary);
  border-radius: var(--br-standard);
  transition: opacity 0.3s ease, background-color 0.3s ease;
}
.menu-item:hover::before {
  opacity: 1;
  background-color: var(--color-primary-hover);
  border-radius: var(--br-standard);
}
.menu-item:active::before {
  background-color: var(--color-primary-hover);
  border-left: 2px solid var(--color-primary);
  border-radius: var(--br-standard);
}
.menu-item__selected {
  background-color: var(--color-primary-selected);
  border-left: 3px solid var(--color-primary);
  border-radius: var(--br-standard);
  transition: opacity 0.3s ease, background-color 0.3s ease;
}
.menu-item__left {
  display: flex;
  align-items: center;
  padding-left: var(--spacing-md);
}
.menu-item__icon {
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
  color: var(--color-white);
}
.menu-item__name {
  padding: var(--spacing-xxs);
  color: var(--color-white);
}
.menu-item__expand {
  cursor: pointer;
  margin-left: var(--spacing-md);
}
.menu-item__l1 {
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-sm);
  font-size: var(--font-size-xs);
}
.menu-item__l2 {
  margin-left: var(--spacing-xl);
}
.menu-item__l3 {
  margin-left: var(--spacing-xxxl);
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  border-left: 2px solid transparent;
  padding-left: var(--spacing-md);
  padding-top: var(--spacing-sm);
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 600;
}

.logo__icon {
  padding-right: var(--spacing-md);
  color: var(--color-green);
}

.container {
  display: grid;
  grid-template-columns: 230px 1fr;
  max-width: 1440px;
  min-width: 1044px;
  margin-inline: auto;
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-lg);
  border: 1px solid var(--color-grey-light-2);
  border-radius: var(--br-standard);
}
.container__login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.container__login--grid {
  display: grid;
  grid-template-columns: minmax(300px, 400px) 1fr;
  min-height: 80vh;
  max-width: 70vw;
  min-width: 1044px;
  border-radius: var(--spacing-lg);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .container__login--grid {
    grid-template-columns: 1fr;
  }
}
.container__login--form {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--color-white);
  border-radius: var(--spacing-lg);
  width: 80%;
}

.login__icon {
  width: 5rem;
  height: 5rem;
  color: var(--color-green);
  font-size: 9rem;
  font-weight: 600;
  margin-bottom: var(--spacing-lg);
}

.container__login--image {
  grid-column: 2/3;
  background-image: url(../../assets/images/image_03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--spacing-lg);
}
@media (max-width: 768px) {
  .container__login--image {
    display: none;
  }
}

.input__field {
  position: relative;
}
.input__field input {
  border-radius: var(--spacing-xs);
  border: 1px solid var(--color-grey-light-2);
  padding: var(--spacing-md);
  margin-bottom: var(--spacing-sm);
  background: transparent;
  font-family: inherit;
  font-weight: 400;
  color: var(--color-grey-dark-1);
  width: 90%;
  outline: none;
}
.input__field input:focus {
  border: 1px solid var(--color-primary);
}
.input__field label {
  position: absolute;
  top: 37%;
  left: 15px;
  transform: translateY(-50%);
  color: var(--color-grey-dark-2);
  pointer-events: none;
  transition: 0.3s;
}
.input__field input:focus ~ label,
.input__field input:valid ~ label {
  top: 0;
  left: 10px;
  font-size: 0.9rem;
  padding: 0 2px;
  background: #fff;
}
.input__field--error input {
  border: 1px solid red;
}
.input__field--error input:focus {
  border: 1px solid red;
}
.input__field--error label {
  color: red;
  top: 0;
  left: 10px;
  font-size: 0.9rem;
  padding: 0 2px;
  background: #fff;
}
.input__field--error-message {
  margin-top: -15px;
  margin-bottom: 1rem;
  color: red;
  padding-top: 5px;
}
.input__field--toggle-password {
  position: absolute;
  right: var(--spacing-md);
  top: 38%;
  transform: translateY(-50%);
  cursor: pointer;
}

.input__merchant-account .input-currency {
  width: 27px; /* adjust as needed */
}
.input__merchant-account .input-payee-name {
  width: 200px; /* adjust as needed */
}
.input__merchant-account .input-created-date {
  width: 80px; /* adjust as needed */
}
.input__merchant-account input {
  border-radius: var(--spacing-xs);
  border: 1px solid var(--color-grey-light-2);
  padding: var(--spacing-md);
  margin-right: var(--spacing-xs);
  background: var(--color-white);
  font-family: inherit;
  font-weight: 400;
  color: var(--color-primary);
  width: 120px;
  outline: none;
}
.input__merchant-account input:focus {
  border: 1px solid var(--color-primary);
}
.input__merchant-account label {
  color: var(--color-grey-dark-1);
}

.input__payout .input-currency {
  width: 27px; /* adjust as needed */
}
.input__payout .input-amount {
  width: 120px; /* adjust as needed */
  color: var(--color-green);
  text-align: right;
}
.input__payout .input-name {
  width: 200px; /* adjust as needed */
}
.input__payout .input-reference {
  width: 346px; /* adjust as needed */
}
.input__payout .input-sort-code {
  width: 100px; /* adjust as needed */
}
.input__payout .input-account-number {
  width: 200px; /* adjust as needed */
}
.input__payout .input-iban {
  width: 346px; /* adjust as needed */
}
.input__payout input {
  border-radius: var(--spacing-xs);
  border: 1px solid var(--color-grey-light-2);
  padding: var(--spacing-md);
  background: var(--color-white);
  font-family: inherit;
  font-weight: 400;
  color: var(--color-primary);
  outline: none;
}
.input__payout input:focus {
  border: 1px solid var(--color-primary);
}
.input__payout input.error:focus {
  border: 1px solid red;
  color: red;
}
.input__payout--error-message {
  color: red;
}

.btn {
  border-radius: var(--spacing-xs);
  border: none;
}
.btn--primary {
  width: 90%;
  padding: var(--spacing-md);
  display: inline-flex;
  justify-content: space-between;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}
.btn--primary:hover {
  background-color: #454c5d;
}
.btn--secondary {
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
  display: inline-flex;
  justify-content: space-between;
  background-color: var(--color-green-light);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}
.btn--secondary-inactive {
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
  display: inline-flex;
  justify-content: space-between;
  background-color: var(--color-grey-light-2);
  color: var(--color-grey-dark-3);
  font-size: var(--font-size-sm);
  font-weight: 700;
  cursor: not-allowed;
}
.btn--secondary:hover {
  background-color: var(--color-tertiary);
}
.btn--tertiary {
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
  display: inline-flex;
  justify-content: space-between;
  background-color: var(--color-tertiary);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}
.btn--tertiary-inactive {
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
  display: inline-flex;
  justify-content: space-between;
  background-color: var(--color-grey-light-2);
  color: var(--color-grey-dark-3);
  font-size: var(--font-size-sm);
  font-weight: 600;
  cursor: not-allowed;
}
.btn--tertiary:hover {
  background-color: var(--color-tertiary-hover);
}
.btn--quaternary {
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
  display: inline-flex;
  justify-content: space-between;
  background-color: var(--color-tertiary);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}
.btn--quaternary:hover {
  background-color: var(--color-tertiary-hover);
}

.btn__align-bottom {
  align-self: flex-end;
  margin-bottom: 2px;
}

select {
  border-radius: var(--spacing-xs);
  border: 1px solid var(--color-grey-light-2);
  padding: var(--spacing-md);
  background: var(--color-white);
  font-family: inherit;
  color: var(--color-primary);
  outline: none;
  margin-right: var(--spacing-xs);
}

.token__container {
  background-color: #faf9f9;
  border-radius: var(--br-small);
  border: 1px solid var(--color-grey-light-2);
  margin-bottom: var(--spacing-lg);
  padding-bottom: var(--spacing-sm);
  padding-right: var(--spacing-sm);
}
.token__title {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: var(--font-size-md);
  padding: var(--spacing-sm);
  color: var(--color-primary);
  font-weight: 600;
}
.token__text {
  margin-left: var(--spacing-md);
  padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm) var(--spacing-md);
  margin-right: var(--spacing-xs);
  font-size: var(--font-size-sm);
  color: var(--color-grey-dark-2);
  background-color: var(--color-white);
  border-radius: var(--br-small);
}
.token__icon {
  padding: var(--spacing-xs);
  margin-left: var(--spacing-xs);
  margin-right: var(--spacing-sm);
  border-radius: 50px;
}
.token__icon--payment {
  background-color: var(--color-pink);
  color: var(--color-primary);
}
.token__icon--data {
  background-color: var(--color-yellow);
  color: var(--color-white);
}
.token__icon--bank {
  background-color: var(--color-tertiary);
  color: var(--color-white);
}
.token__icon--payout-success {
  background-color: var(--color-green-light);
  color: var(--color-white);
}
.token__icon--payout-fail {
  background-color: var(--color-red);
  color: var(--color-white);
}
.token__button {
  padding: var(--spacing-xs);
  margin-left: var(--spacing-sm);
}

.placeholder__container {
  background-color: #faf9f9;
  border-radius: var(--br-small);
  border: 1px solid var(--color-grey-light-2);
  margin-bottom: var(--spacing-xxs);
}
.placeholder__title {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: var(--font-size-md);
  padding: var(--spacing-sm);
  color: var(--color-primary);
  font-weight: 600;
}
.placeholder__text {
  margin-left: var(--spacing-md);
  padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm) var(--spacing-md);
  margin-right: var(--spacing-xs);
  font-size: var(--font-size-sm);
  color: var(--color-grey-dark-2);
  background-color: var(--color-white);
  border-radius: var(--br-small);
}
.placeholder__icon {
  padding: var(--spacing-xs);
  margin-left: var(--spacing-xs);
  margin-right: var(--spacing-sm);
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 50px;
}
.placeholder__button {
  padding: var(--spacing-xs);
  margin-left: var(--spacing-sm);
}

.content__value--table--white, .content__value--white {
  color: var(--color-grey-dark-1);
  font-weight: 600;
  padding-left: var(--spacing-xs);
  padding-right: var(--spacing-xs);
}

.content__head {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: calc(3rem + 2 * (100vw - 1024px) / 896);
}
.content__arrow, .content__arrow--yellow, .content__arrow--pink {
  color: var(--color-white);
  border-radius: var(--br-small);
  padding-left: 5rem;
  padding-right: 1rem;
}
.content__arrow--pink {
  background-color: var(--color-pink);
}
.content__arrow--yellow {
  background-color: var(--color-yellow);
}
.content__key, .content__key--payout, .content__key--payout-key, .content__key--white, .content__key--table {
  font-size: var(--font-size-sm);
  color: var(--color-grey-dark-1);
  font-weight: 600;
  margin-bottom: var(--spacing-xs);
  text-align: left;
  padding-left: 2rem;
}
.content__key--table {
  padding-left: var(--spacing-xs);
}
.content__key--white {
  color: var(--color-primary);
}
.content__key--payout-key {
  padding-left: 0px;
  margin-bottom: 0px;
}
.content__key--payout-status, .content__key--payout-status-inactive, .content__key--payout-status-fail, .content__key--payout-status-success, .content__key--payout-status-success-error, .content__key--payout-status-key {
  text-align: left;
  padding-left: 2rem;
  font-size: var(--font-size-md);
  font-weight: 600;
  color: var(--color-primary);
}
.content__key--payout-status-key {
  background-color: #faf9f9;
}
.content__key--payout-status-success, .content__key--payout-status-success-error {
  color: var(--color-green);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.content__key--payout-status-success-error {
  color: var(--color-green-light);
}
.content__key--payout-status-fail {
  color: var(--color-red);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.content__key--payout-status-inactive {
  background-color: var(--color-grey-light-1);
  color: var(--color-grey-dark-2);
  width: 270px;
}
.content__key--payout {
  padding-left: 0px;
  margin-bottom: 0px;
}
.content__label {
  font-size: var(--font-size-sm);
  color: var(--color-grey-dark-2);
  margin-bottom: var(--spacing-xs);
  text-align: left;
}
.content__value, .content__value--table, .content__value--table--green, .content__value--table--red, .content__value--table--white, .content__value--white {
  font-size: var(--font-size-sm);
  color: var(--color-grey-dark-1);
  margin-bottom: var(--spacing-xs);
  padding-left: var(--spacing-xs);
}
.content__value--white-highlight {
  background-color: var(--color-green-palette);
  padding-top: 2px;
}
.content__value--payout {
  font-size: var(--font-size-sm);
  color: var(--color-grey-dark-1);
  margin-bottom: var(--spacing-xs);
  padding-left: var(--spacing-lg);
}
.content__value--payout-inactive {
  font-size: var(--font-size-sm);
  color: var(--color-grey-dark-2);
  padding-left: var(--spacing-lg);
}
.content__value--table, .content__value--table--green, .content__value--table--red, .content__value--table--white {
  font-size: var(--font-size-xs);
  padding-top: var(--spacing-xxs);
  padding-bottom: var(--spacing-xxs);
  vertical-align: middle;
}
.content__value--table--white-highlight {
  background-color: var(--color-green-palette);
  font-size: var(--font-size-xs);
}
.content__value--table--red {
  color: rgb(146, 0, 0);
}
.content__value--table--green {
  background-color: rgb(229, 248, 229);
}
.content__value--table-balance {
  display: flex;
  justify-content: space-between;
}

.merchant-account tr:first-child th, .merchant-account--table tr:first-child th,
.merchant-account tr:first-child td,
.merchant-account--table tr:first-child td {
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-xs);
}

.merchant-account, .merchant-account--table {
  border: 1px solid var(--color-grey-light-2);
  border-radius: var(--br-small);
  width: 100%;
}
.merchant-account__container {
  min-height: 320px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
}
.merchant-account--table tr:nth-child(even) {
  background-color: var(--color-grey-light-1);
}
.merchant-account--table tr:last-child td {
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
}
.merchant-account__title {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: var(--font-size-md);
  padding: var(--spacing-sm);
  color: var(--color-primary);
  font-weight: 600;
  background-color: #d8dce9;
  border-radius: var(--br-small);
  margin-bottom: var(--spacing-sm);
}
.merchant-account__icon {
  padding: var(--spacing-xs);
  margin-left: var(--spacing-xs);
  margin-right: var(--spacing-sm);
}
.merchant-account__search-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: var(--spacing-sm);
  margin-left: var(--spacing-lg);
}
.merchant-account__search-dates {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.merchant-account--balance {
  background-color: var(--color-grey-light-1);
}
.merchant-account--balance-white {
  background-color: var(--color-white);
}
.merchant-account__transaction--detail {
  display: flex;
  flex-direction: column;
  padding-top: var(--spacing-xxs);
  padding-bottom: var(--spacing-xs);
  padding-left: var(--spacing-xs);
  background-color: #fff7fe;
  border-left: 1px solid var(--color-grey-light-2);
}

.blank-row, .blank-row--border {
  height: var(--spacing-sm);
  background-color: #fff;
}
.blank-row--border {
  border-bottom: 1px solid var(--color-grey-light-2);
}

.payout__search-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 800px;
}
.payout__search-container--right {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  width: 635px;
}
.payout__search-container--method {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
}
.payout__search-autocomplete-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: var(--spacing-sm);
  margin-left: var(--spacing-lg);
}
.payout__search-autocomplete-list {
  background-color: #fff;
  color: var(--color-grey-dark-2);
  padding: var(--spacing-sm);
  border-radius: var(--spacing-xs);
  border: 1px solid var(--color-grey-light-2);
  position: absolute; /* Step 2 */
  z-index: 999; /* Step 3 */
  top: 100%; /* Adjust based on your layout */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.payout__search-autocomplete-name {
  display: inline-block;
  width: 105px;
  font-weight: 600;
  margin-right: var(--spacing-md);
  color: var(--color-green-light);
}
.payout__search-autocomplete-currency {
  display: inline-block;
  width: 27px;
  font-weight: 600;
  margin-right: var(--spacing-xxs);
  color: var(--color-grey-dark-2);
}
.payout__search-autocomplete-amount {
  display: inline-block;
  width: 50px;
  margin-right: var(--spacing-xs);
  color: var(--color-grey-dark-2);
}

.data-account {
  border: 1px solid var(--color-grey-light-2);
  border-radius: var(--br-small);
  width: 100%;
}
.data-account__container {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
}

:root {
  --color-primary: #171c2a;
  --color-primary-hover: #74777f;
  --color-primary-selected: #454c5d;
  --color-yellow: #efcb68;
  --color-pink: #f9cff2;
  --color-pink-light: rgba(249, 207, 242, 0.4);
  --color-green: #31724b;
  --color-green-light: #659176;
  --color-green-palette: #acd8aa;
  --color-red: #7a1f1f;
  --color-red-light: #a14b4b;
  --color-red-palette: #f9e6e6;
  --color-white: #fff;
  --color-black: #000;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #c5c4c4;
  --color-grey-dark-3: #555;
  --color-tertiary: #4d475f;
  --color-tertiary-hover: #817c91;
  --color-blue: #454955;
  --shadow-color: 0deg 0% 63%;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-sm-1: 1.25rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 2.5rem;
  --spacing-xxl: 3rem;
  --spacing-xxxl: 4rem;
  --font-size-xxs: 1rem;
  --font-size-xs: 1.1rem;
  --font-size-sm: 1.2rem;
  --font-size-md: 1.4rem;
  --font-size-lg: 1.6rem;
  --br-small: 5px;
  --br-standard: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  font-size: var(--font-size-lg);
  line-height: 1.5;
  background-color: var(--color-white);
  color: var(--color-black);
}

main {
  margin-top: var(--spacing-sm);
  margin-left: var(--spacing-md);
  display: grid;
  grid-template-columns: 1fr 230px;
  grid-gap: var(--spacing-md);
  width: 97%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 10px;
  background-color: var(--color-grey-light-1);
  padding-bottom: var(--spacing-xs);
  padding-left: var(--spacing-md);
}

nav {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  width: 215px;
  z-index: 0;
  padding-right: var(--spacing-md);
  background-color: var(--color-primary);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  line-height: 1.2;
}

h1 {
  color: var(--color-primary);
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
  color: var(--color-primary);
  font-weight: 400;
}

h4 {
  font-size: 2.5rem;
  color: var(--color-primary);
  letter-spacing: 0.1rem;
}

h5 {
  font-size: 2rem;
  color: var(--color-primary);
  letter-spacing: 0.1rem;
  font-weight: 600;
}

h6 {
  font-size: 1.75rem;
  color: var(--color-primary);
  letter-spacing: 0.1rem;
  font-weight: 600;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  display: block;
}

table {
  border-spacing: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 10;
}

.text-xxs {
  font-size: var(--font-size-xxs);
}

.text-xs {
  font-size: var(--font-size-xs);
}

.text-sm {
  font-size: var(--font-size-sm);
}

.text-md {
  font-size: var(--font-size-md);
}

.text-lg {
  font-size: var(--font-size-lg);
}

.right {
  text-align: right;
  padding-right: 1rem;
}

.right-temp {
  text-align: right;
  padding-right: 20rem;
}

.absolute-right {
  text-align: right;
  padding-right: 0.5rem;
}

.left {
  text-align: left;
  padding-left: 1rem;
}

.sp-top-sm {
  margin-top: var(--spacing-sm);
}

.sp-top-md {
  margin-top: var(--spacing-md);
}

.sp-top-lg {
  margin-top: var(--spacing-lg);
}

.sp-bottom-lg {
  margin-bottom: var(--spacing-lg);
}

.sp-bottom-sm {
  margin-bottom: var(--spacing-sm);
}

.sp-bottom-md {
  margin-bottom: var(--spacing-md);
}

.sp-bottom-xl {
  margin-bottom: var(--spacing-xl);
}

.sp-bottom-xxl {
  margin-bottom: var(--spacing-xxl);
}

.sp-bottom-xxxl {
  margin-bottom: var(--spacing-xxxl);
}

.sp-right-sm {
  margin-right: var(--spacing-sm);
}

.sp-right-md {
  margin-right: var(--spacing-md);
}

.sp-right-lg {
  margin-right: var(--spacing-lg);
}

.sp-left-sm {
  margin-left: var(--spacing-sm);
}

.sp-left-md {
  margin-left: var(--spacing-md);
}

.sp-left-lg {
  margin-left: var(--spacing-lg);
}

.sp-top-negative-sm {
  margin-top: -10px;
}

.sp-top-negative-md {
  margin-top: -15px;
}

.padding-right-sm {
  padding-right: var(--spacing-sm);
}

.padding-right-md {
  padding-right: var(--spacing-md);
}

.padding-right-lg {
  padding-right: var(--spacing-lg);
}

.padding-left-xs {
  padding-left: var(--spacing-xs);
}

.input-width--sm {
  width: 20px;
}

.input-width--md {
  width: 40px;
}

.cell-width--xs {
  width: 10%;
}

.cell-width--sm {
  width: 20%;
}

.cell-width--md {
  width: 30%;
}

.payout-status--fail {
  background-color: var(--color-red-palette);
  color: var(--color-red);
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
}

.payout-status--success {
  background-color: var(--color-green-light);
  color: var(--color-white);
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
}

/* Base link styles */
a {
  text-decoration: none;
  color: var(--color-primary);
}
a:hover {
  text-decoration: underline;
}

/* Primary link style */
.a--primary {
  color: var(--color-primary); /* Replace with your primary color variable */
  font-weight: 600;
  background-color: var(--color-pink);
  padding-left: var(--spacing-xs);
  padding-right: var(--spacing-xs);
}

/* Secondary link style */
/* Transaction list table icon link style */
.a--table-icon {
  color: var(--color-grey-dark-2); /* Replace with your primary color variable */
  font-weight: 600;
  padding-left: var(--spacing-xs);
  padding-right: var(--spacing-xs);
  margin-right: var(--spacing-xs);
}
.a--table-icon:hover {
  text-decoration: none;
  color: var(--color-primary);
  background-color: var(--color-pink);
  transition: all 0.3s ease-in-out; /* Add smooth transition for color change */
}
.a--table-icon__selected {
  color: var(--color-white);
  background-color: var(--color-grey-dark-2);
}
.a--table-icon__selected:hover {
  color: var(--color-white);
  background-color: var(--color-yellow);
}/*# sourceMappingURL=styles.css.map */